
@media only screen and (max-width: 768px) {

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }  

  nav {
      display: flex;
      font-size: 15px;
  }  

  fieldset {
      margin: 1px;
  }

  .sidebar .sidebar2 {
    width: 100px;
  }

  .card {
    width: 150px;
    height: 320px; 
    margin-left: 0;
  }


  
  .logo img {
    float: left ;
    z-index: 100;
    padding: 20px 20px;
  
  }


  /* eliminados sidebar, sidebar2, checkbox-group e filterbox
    } 
*/

.sidebar, .sidebar2 {
  display: none;
}


.carousel {
 color: red;
 background-color: white;
 width: 400px;
 height: 200px;
 max-width: 250px;
}

.carousel img {
  width: 250px;
  height: 200px;
 }

.button_pr {
  top: 70%;
    left: 25%;
}

.produtos{
  grid-template-columns: repeat(2, 1fr);
}

}