
@media only screen and (max-width: 768px) {

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }  

  nav {
      display: flex;
      font-size: 15px;
  }  

  fieldset {
      margin: 1px;
  }

}